<div class="container">
<pre></pre>
<mat-dialog-content>Choose your Login type?</mat-dialog-content>
<pre>

</pre>
<mat-dialog-actions>
    <button tabindex="-1" mat-raised-button class="buttons"  mat-dialog-close (click)="openDriverLogin()">Driver</button>
    <pre>       </pre>
    <button tabindex="-1" class="buttons" mat-raised-button mat-dialog-close (click)="openUserLogin()">User</button>
</mat-dialog-actions>
</div>
<style>
    .container{
        padding: 30px;
    }
    .buttons{
        background-color: #14c871;
        color:white;
    }
</style>